.main {
    background-color: $color-background;
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include media-tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.main__item {
    margin: 20px;
    background-color: $color-second;
    &::before {
        content: "";
        float: left;
        padding-top: 100%;
    }
    &:hover {
        @include hover(10px);
    }
}