.animation_to-left {
	animation-name: left;
}

.animation_to-right {
	animation-name: right;
	animation-direction: reverse;
}

.animation_from-left {
	animation-name: left;
	animation-direction: reverse;
}

.animation_from-right {
	animation-name: right;
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right {
	from {
		left: 100%;
	}

	to {
		left: 0;
	}
}