$color-main: #e6adcd;
$color-second: #984f87;
$color-background: #fdf3f4;
$color-border: #6a3563;

$color-additional_1: #d3485f;
$color-additional_2: #b2c9b9;
$color-additional_3: #ddc559;
$color-additional_4: #abc482;
$color-additional_5: #97a7a7;

$color-text-main: #2f2929;
$color-text-additional: #4a4645;
$color-text-link: #3b5e62;
$color-text-button: #503323;

$color-button-bg: #96313f;
$color-button-border: #503323;

$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 350px;