.flip {
    background-color: $color-second;
    backface-visibility: hidden; 
    position: absolute;
    width: 100%;
}
   
.flip_front {
    z-index: 20;
}
   
.flip_back {
    transform: rotateY(180deg);
}

.fliping {
    transform: rotateY(180deg);
}