.card {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card__title {
    position: absolute;
    bottom: 0;
    border-radius: 0 0  $card-border-radius $card-border-radius;
    text-align: center;
    line-height: 30px;
    width: 100%;   
    background-color: $color-main; 
}

.card__image {    
    border-radius: $card-border-radius;
}

.card__side {
    border-radius: $card-border-radius;
    backface-visibility: hidden; 
    position: absolute;
    width: 100%;
    &:hover {
        @include hover(10px);
    }
}
   
.card__side_front {
    z-index: 20;
}
   
.card__side_back {
    transform: rotateY(180deg);
}

.card_flip {
    transform: rotateY(180deg);
}