%hamburger__line {
    position: absolute;
    content: "";
	width: 100%;
	height: 20%;
    background-color: $color-border;
    border-radius: 3px;
	content: "";
}

.hamburger {
    position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	@extend %transition;
    &::before{
        @extend %hamburger__line;
        top: 0;
    };
    &::after{
        @extend %hamburger__line;
        top: 80%;
    };
    &:hover {
        & > *{ @include hover(4px); } 
        &::before{ @include hover(4px); };
        &::after{ @include hover(4px); };       
    }    
}

.hamburger__line {
	@extend %hamburger__line;
    top: 40%;
}

.hamburger_vertical {
	transform: rotate(-270deg);
}