.main {
    background-color: $color-background;
    min-height: calc(100vh - 80px);
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include media-tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.main__item {  
    margin: 20px;
    &::before {
        content: "";
        float: left;
        padding-top: 100%;
    }
}